<ul id="navigation-bar">
    <li><a href="/edit">profile</a></li>
    <li><a href="/petition">signature</a></li>
    <li><a href="/signers">signers</a> </li>
    <li><a href="/logout">logout</a></li>
</ul>

<div class="container-edit">

    <h1>edit your profile here</h1>

    <form method="POST" id="edit-form">
        <label for="firstname"> first name </label>
        <input
            type="text"
            id="firstname"
            name="firstname"
            value="{{rows.0.first}}"
        />
        <label for="lastname"> last name </label>
        <input
            type="text"
            id="lastname"
            name="lastname"
            value="{{rows.0.last}}"
        />
        <label for="age"> age </label>
        <input type="text" id="age" name="age" value="{{rows.0.age}}" />
        <label for="city"> city</label>
        <input type="text" id="city" name="city" value="{{rows.0.city}}" />
        <label for="website"> website</label>
        <input type="text" name="website" id="website" value="{{rows.0.url}}" />
        <label for="email"> email</label>
        <input type="text" name="email" id="email" value="{{rows.0.email}}" />
        <label for="password"> password</label>
        <input type="text" name="password" id="password" />
        <button id="update"> update</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    </form>
    {{#if msg}}
        <p>{{msg}}</p>
    {{/if}}

</div>